<div class="controls">
  <button *ngIf="!isPlaying" mat-icon-button>
    <mat-icon (click)="playFrames.emit()">play_arrow</mat-icon>
  </button>
  <button *ngIf="isPlaying" mat-icon-button>
    <mat-icon (click)="pauseFrames.emit()">pause</mat-icon>
  </button>
</div>
<div (cdkDropListDropped)="moveFrames($event)" cdkDropList>
  <div
    (click)="changeActiveFrame.emit(index)"
    *ngFor="let frame of frames; index as index"
    [class.active]="index === active"
    cdkDrag
    [cdkDragStartDelay]="100"
    class="frame clickable frame-box">
    {{'FRAME_MANAGER.FRAME' | translate}} {{index + 1}}
    <div (click)="changeActiveSubframe.emit(subindex)"
         *ngFor="let subframe of frame.subframes; index as subindex"
         [class.active]="subindex === activeSubframe"
         class="subframe">
      <span *ngIf="index === active">
          {{'FRAME_MANAGER.SUBFRAME' | translate}} {{subindex + 1}}</span>
    </div>
  </div>
</div>
<div class="controls">
  <button (click)="add.emit()" mat-raised-button translate="COMMON.ADD"></button>
  <button (click)="removeClicked(active)" mat-raised-button translate="COMMON.REMOVE"></button>
</div>
<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title translate="FRAME_MANAGER.OPTIONS"></mat-panel-title>
    </mat-expansion-panel-header>
    <div class="controls">
      <div class="toggle-container">
        <mat-checkbox (change)="toggleAnimations.emit()"
                      [checked]="areAnimationsOn">{{'FRAME_MANAGER.ANIMATIONS' | translate}}</mat-checkbox>
        <mat-checkbox (change)="toggleLooping.emit()"
                      [checked]="isLoopingOn">{{'FRAME_MANAGER.LOOPING' | translate}}</mat-checkbox>
        <mat-checkbox (change)="toggleVoiceSynthesis.emit()"
                      [checked]="isVoiceSynthesisOn">{{'FRAME_MANAGER.VOICE_SYNTHESIS' | translate}}</mat-checkbox>
        <button [matMenuTriggerFor]="frameinterval" mat-button
                translate="FRAME_MANAGER.TEMPO"> : {{frameIntervalAsTempo}}</button>
        <mat-menu #frameinterval="matMenu">
          <button (click)="emitFrameDurationChange(1)" mat-menu-item>1/10
            -  {{'FRAME_MANAGER.SUPER_SLOW_TEMPO' | translate}}</button>
          <button (click)="emitFrameDurationChange(2)" mat-menu-item>2/10
            -  {{'FRAME_MANAGER.SLOW_TEMPO' | translate}}</button>
          <button (click)="emitFrameDurationChange(3)" mat-menu-item>3/10
            -  {{'FRAME_MANAGER.NORMAL_TEMPO' | translate}}</button>
          <button (click)="emitFrameDurationChange(4)" mat-menu-item>4/10
            -  {{'FRAME_MANAGER.FAST_TEMPO' | translate}}</button>
        </mat-menu>
        <button [matMenuTriggerFor]="segments" mat-button translate="FRAME_MANAGER.CARPET_SIZE"></button>
        <mat-menu #segments="matMenu">
          <button [matMenuTriggerFor]="carpetHeightMenu"
                  mat-menu-item>{{'FRAME_MANAGER.CARPET_HEIGHT' | translate}} : {{carpetHeight}}</button>
          <button [matMenuTriggerFor]="carpetWidthMenu"
                  mat-menu-item>{{'FRAME_MANAGER.CARPET_WIDTH' | translate}} : {{carpetWidth}}</button>
          <button [matMenuTriggerFor]="horizontal"
                  mat-menu-item>{{'FRAME_MANAGER.HORIZONTAL_SEGMENTS' | translate}}
            : {{carpetHorizontalSegments}}</button>
          <button [matMenuTriggerFor]="vertical"
                  mat-menu-item>{{'FRAME_MANAGER.VERTICAL_SEGMENTS' | translate}} : {{carpetVerticalSegments}}</button>
        </mat-menu>
        <mat-menu #carpetHeightMenu="matMenu">
          <div *ngFor="let heightOptions of carpetHeightOptions">
            <button
              (click)="emitCarpetHeightChange(heightOptions + 1)"
              mat-menu-item>{{heightOptions + 1}}</button>
          </div>
        </mat-menu>
        <mat-menu #carpetWidthMenu="matMenu">
          <div *ngFor="let widthOptions of carpetWidthOptions">
            <button
              (click)="emitCarpetWidthChange(widthOptions + 1)"
              mat-menu-item>{{widthOptions + 1}}</button>
          </div>
        </mat-menu>
        <mat-menu #horizontal="matMenu">
          <div *ngFor="let lineOptions of horizontalLineOptions">
            <button (click)="changeHorizontalSegments.emit(lineOptions + 1)"
                    *ngIf="carpetHeight % (lineOptions + 1) === 0"
                    mat-menu-item> {{lineOptions + 1}} </button>
          </div>
        </mat-menu>
        <mat-menu #vertical="matMenu">
          <div *ngFor="let lineOptions of verticalLineOptions">
            <button (click)="changeVerticalSegments.emit(lineOptions + 1)"
                    *ngIf="carpetWidth % (lineOptions + 1) === 0" mat-menu-item> {{lineOptions + 1}} </button>
          </div>
        </mat-menu>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

