.controls {
  margin: 0 auto;
  text-align: center;

  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.frame {
  text-align: center;
  cursor: pointer;

  &.active {
    &:before {
      content: '>'
    }

    &:after {
      content: '<'
    }
  }
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
