<div class="controls">
  <button *ngIf="!isPlaying" mat-icon-button>
    <mat-icon (click)="playFrames.emit()" aria-label="Play choreography">play_arrow</mat-icon>
  </button>
  <button *ngIf="isPlaying" mat-icon-button>
    <mat-icon (click)="pauseFrames.emit()" aria-label="Pause choreography">pause</mat-icon>
  </button>
</div>
<div (cdkDropListDropped)="moveFrames($event)" cdkDropList>
  <div
    (click)="activeChanged.emit(index)"
    *ngFor="let frame of frames; index as index"
    [class.active]="index === active"
    cdkDrag
    [cdkDragStartDelay]="100"
    class="frame clickable frame-box">
    Frame {{index + 1}}
  </div>
</div>
<div class="controls">
  <button (click)="add.emit()" mat-raised-button>Add</button>
  <button (click)="removeClicked(active)" mat-raised-button>Remove</button>
</div>
<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Options
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="controls">
      <div class="toggle-container">
        <mat-checkbox (change)="toggleAnimations.emit()" [checked]="areAnimationsOn">Animations</mat-checkbox>
        <mat-checkbox (change)="toggleLooping.emit()" [checked]="isLoopingOn">Looping</mat-checkbox>
        <mat-checkbox (change)="toggleVoiceSynthesis.emit()" [checked]="isVoiceSynthesisOn">Voice Synthesis
        </mat-checkbox>
        <mat-form-field class="input-container">
          Frame duration (s)
          <input (change)="emitFrameDurationChange($event)" [valueAsNumber]="frameIntervalAsSeconds" matInput
                 max="24"
                 min="1"
                 step="0.5"
                 type="number">
        </mat-form-field>
        <mat-form-field>
          Carpet height
          <input (change)="emitCarpetHeightChange($event)" [valueAsNumber]="carpetHeight" matInput
                 max="16"
                 min="4"
                 step="1"
                 type="number">
        </mat-form-field>
        <mat-form-field>
          Carpet width
          <input (change)="emitCarpetWidthChange($event)" [valueAsNumber]="carpetWidth" matInput
                 max="16"
                 min="4"
                 step="2"
                 type="number">
        </mat-form-field>
        <button [matMenuTriggerFor]="segments" mat-button>Number of segments</button>
        <mat-menu #segments="matMenu">
          <button [matMenuTriggerFor]="horizontal" mat-menu-item> Horizontal
            segments: {{carpetHorizontalSegments}} </button>
          <button [matMenuTriggerFor]="vertical" mat-menu-item> Vertical segments: {{carpetVerticalSegments}} </button>
        </mat-menu>
        <mat-menu #horizontal="matMenu">
          <div *ngFor="let lineOptions of horizontalLineOptions">
            <button (click)="changeHorizontalSegments.emit(lineOptions + 1)"
                    mat-menu-item> {{lineOptions + 1}} </button>
          </div>
        </mat-menu>
        <mat-menu #vertical="matMenu">
          <div *ngFor="let lineOptions of verticalLineOptions">
            <button (click)="changeVerticalSegments.emit(lineOptions + 1)" mat-menu-item> {{lineOptions + 1}} </button>
          </div>
        </mat-menu>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

