.controls {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;

  button {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .add-content-buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .change-content-buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
}

.cycle {
  text-align: center;

  &.active {
    font-weight: bold;
  }
}

.transition {
  text-decoration: underline;
}

.frame {

  font-size: 1rem;
  font-weight: normal;

  &.active {
    font-weight: bold;
  }

  &.disabled {
    color: gray;
  }
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.frame-box {
  padding: 5px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 1.2rem;
  background: white;
  font-family: Calibri, serif;
}

.frame-text {
  width: 100%;
  display: inline-block;

  .frame-index {
    display: inline-block;
    width: 35%;
    text-align: right;
  }

  .frame-name {
    display: inline-block;
    width: 65%;
    text-align: left;
  }
}

.transition-text {
  text-decoration: underline;
}
