<mat-toolbar color="primary">
  <span (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space">Cheerful</span>

  <a routerLink="profile">
    <mat-icon>account_circle</mat-icon>
  </a>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="opened" class="navigation padding">
    <a routerLink="/choreography" class="nav-item">
      Choreography
    </a>
    <a routerLink="'/exercises'" class="nav-item">
      Exercises
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

