<div class="home-page">
  <h1>Cheerful</h1>
  <div class="home-card" flexLayout="column">
    <img height="100" src="assets/icons/cheerful-icon.png" width="100"/>
    <button (click)="logIn()" mat-raised-button>
      <div class="log-in-button">
        <img height="24" src="assets/icons/google.png" width="24"/><span class="log-in-text">
          Log in with Google
        </span>
      </div>
    </button>
    <button mat-raised-button>
      <div class="log-in-button">
        <img height="24" src="assets/icons/facebook-circled.png" width="24"/><span class="log-in-text">
          Log in with Facebook
        </span>
      </div>
    </button>
  </div>
</div>
