<app-toolbar [isTitleEditable]="false"
             [title]="'PEOPLE_MANAGER.TITLE' | translate"
             backUrl="/choreographies"></app-toolbar>
<div class="people-container">
  <div>
  </div>
  <mat-list>
    <h3 mat-subheader translate="PEOPLE_MANAGER.TITLE"></h3>
    <ng-container *ngIf="people$ | async as people">
      <ng-container [ngSwitch]="people.status">
        <div *ngSwitchCase="'loading'">{{'COMMON.LOADING' | translate}} ... ({{ people.retries }})</div>
        <div *ngSwitchCase="'error'">
          {{'COMMON.ERROR' | translate}} ... ({{ people.retries }})
        </div>
        <div *ngSwitchDefault>
          <mat-form-field appearance="standard">
            <mat-label>Suodata</mat-label>
            <input #input (keyup)="applyFilter($event)" matInput placeholder="Esim. Matti">
          </mat-form-field>
          <table [dataSource]="data$" class="mat-elevation-z8" mat-table>
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
              <th *matHeaderCellDef mat-header-cell> {{column}} </th>
              <td *matCellDef="let element" mat-cell> {{element[column]}} </td>
            </ng-container>
            <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </mat-list>
</div>
