<h1 mat-dialog-title translate="FRAME_MANAGER.CONTENT_NAME_DIALOG.TITLE"></h1>
<div mat-dialog-content>
  <p translate="FRAME_MANAGER.CONTENT_NAME_DIALOG.TEXT"></p>
  <mat-form-field style="display: block;">
    <mat-label translate="COMMON.NAME"></mat-label>
    <input [(ngModel)]="name" cdkFocusInitial matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always" style="display: block;">
    <mat-slide-toggle
      [(ngModel)]="copyPrevious"
      matInput translate="FRAME_MANAGER.COPY_FROM_PREVIOUS">
      <textarea matInput style="display: none;"></textarea>
    </mat-slide-toggle>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    [mat-dialog-close]="false"
    mat-button
    translate="COMMON.CANCEL"></button>
  <button
    (click)="dialogRef.close({ name, copyPrevious })"
    [disabled]="name.length === 0"
    mat-button
    translate="COMMON.CREATE"></button>
</div>
