<mat-list>
  <mat-list-item (click)="menuService.close()" class="clickable" routerLink="/app/choreographies">
    <mat-icon mat-list-icon>border_outer</mat-icon>
    <h4 mat-line translate="SIDE_MENU.CHOREOGRAPHIES.TITLE"></h4>
    <p mat-line translate="SIDE_MENU.CHOREOGRAPHIES.SUBHEADER"></p>
  </mat-list-item>
  <mat-list-item (click)="menuService.close()" class="clickable" routerLink="/app/exercises">
    <mat-icon mat-list-icon>fitness_center</mat-icon>
    <h4 mat-line translate="SIDE_MENU.EXERCISES.TITLE"></h4>
    <p mat-line translate="SIDE_MENU.EXERCISES.SUBHEADER"></p>
  </mat-list-item>
  <mat-list-item (click)="menuService.close()" class="clickable" routerLink="/app/acrobatics">
    <mat-icon mat-list-icon>gesture</mat-icon>
    <h4 mat-line translate="SIDE_MENU.ACROBATICS.TITLE"></h4>
    <p mat-line translate="SIDE_MENU.ACROBATICS.SUBHEADER"></p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="menuService.close()" class="clickable" routerLink="/app/my-profile">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <h4 mat-line translate="SIDE_MENU.MY_PROFILE"></h4>
  </mat-list-item>
  <mat-list-item (click)="menuService.close()" class="clickable" routerLink="/app/teams">
    <mat-icon mat-list-icon>groups</mat-icon>
    <h4 mat-line translate="SIDE_MENU.TEAMS.TITLE"></h4>
    <p mat-line translate="SIDE_MENU.TEAMS.SUBHEADER"></p>
  </mat-list-item>
  <mat-list-item (click)="menuService.close()" class="clickable" routerLink="/app/about">
    <mat-icon mat-list-icon>info</mat-icon>
    <h4 mat-line translate="SIDE_MENU.ABOUT"></h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="authService.signOut(); menuService.close()" class="clickable">
    <mat-icon mat-list-icon>logout</mat-icon>
    <h4 mat-line translate="SIDE_MENU.LOGOUT"></h4>
  </mat-list-item>
</mat-list>