.people {
  .people-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .person {
      flex: 1;
      flex-grow: 0;
      text-align: center;

      .container {
        width: 120px;
        text-align: left;
      }
    }
  }
}
