.people {
  .people-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .person {
      flex: 1;
      flex-grow: 0;
      text-align: center;

      .people-managing-container {
        display: flex;
      }

      .container {
        width: 150px;
        text-align: left;
      }

      .color-picker {
        text-align: right;
        align-self: center;
      }
    }
  }
}
