<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        People ({{people.length}})
      </mat-panel-title>
      <mat-panel-description>
        Manage the people on this choreography
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="people">
      <div *ngIf="people.length; else noPeople">
        <p>Tap a name to remove it from the list.</p>
        <div class="people-list">
          <div *ngFor="let person of people" class="person">
            <div class="container">
              <button (click)="remove.emit(person)" color="warn" mat-icon-button>
                <mat-icon aria-label="Remote the person from the choreography">remove</mat-icon>
              </button>
              {{person}}
            </div>
          </div>
        </div>
      </div>
      <ng-template #noPeople>No people yet.</ng-template>
    </div>
    <div class="add">
      <mat-form-field>
        <input #name matInput name="name" placeholder="Name">
      </mat-form-field>

      <button (click)="add.emit(name.value); name.value = ''" mat-icon-button>
        <mat-icon aria-label="Add person">add</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
