version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@9.8.1

jobs:
  ci:
    docker:
      - image: circleci/node:16.13.1-browsers
        environment:
          CHROME_BIN: "/usr/bin/google-chrome"
    steps:
      - checkout
      - run:
          name: Install node_modules with npm
          command: npm install
          working_directory: ~/project/frontend
      - save_cache:
          key: dependency-cache-{{ checksum "~/project/frontend/package.json" }}
          paths:
            - ~/project/frontend/node_modules
      #      - run:
      #          name: Playwright tests
      #          command: |
      #            npm run e2e:init
      #            npm run e2e
      #          working_directory: ~/project/frontend
      - run:
          name: Lint
          command: npm run lint
          working_directory: ~/project/frontend
      - run:
          name: Build
          command: npm run build
          working_directory: ~/project/frontend

workflows:
  ci:
    jobs:
      - ci
      - aws-ecr/build-and-push-image:
          repo: "cheerful"
          tag: "latest"
          requires:
            - ci
          filters:
            branches:
              only: main
