<app-toolbar [title]="'ACROBATICS.TITLE' | translate" backUrl="/acrobatics"></app-toolbar>

<div class="single-acrobatic-page">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <h1>{{'ACROBATICS.' + acrobatic.name | translate}}</h1>
    <mat-icon class="icon">{{acrobatic.icon}}</mat-icon>
  </div>
  <p><strong>{{'ACROBATICS.DIFFICULTY' | translate}} - {{acrobatic.difficulty}}</strong></p>
  <p>{{acrobatic.description}}</p>
  <hr>
  <h1 translate="COMMON.EXERCISES"></h1>
  <app-exercises-listing [exercises]="acrobatic.exercises"></app-exercises-listing>
</div>
