<app-toolbar [title]="'ACROBATICS.TITLE' | translate" backUrl="/acrobatics"></app-toolbar>

<div class="single-acrobatic-page">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <h1>{{'ACROBATICS.' + acrobatic.name | translate}}</h1>
    <mat-icon class="icon">{{acrobatic.icon}}</mat-icon>
  </div>
  <p><strong>Vaikeusaste - {{acrobatic.difficulty}}</strong></p>
  <p>{{acrobatic.description}}</p>
  <hr>
  <h1>Harjoitteet</h1>
  <div class="acrobatic-exercises" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px">
    <div *ngFor="let exercise of acrobatic.exercises" class="single-exercise" >
      <h2>{{exercise.name}}</h2>
      <p>{{exercise.description}}</p>
    </div>
  </div>
</div>
