<app-toolbar [title]="'CHOREOGRAPHIES.TITLE' | translate"></app-toolbar>

<div class="choreographies-sidebar">
  <mat-list>
    <h3 mat-subheader translate="CHOREOGRAPHIES.MY_CHOREOGRAPHIES"></h3>
    <ng-container *ngIf="choreographies$ | async as choreographies">
      <ng-container [ngSwitch]="choreographies.status">
        <div *ngSwitchCase="'loading'">{{'COMMON.LOADING' | translate}} ... ({{ choreographies.retries }})</div>
        <div *ngSwitchCase="'error'">
          {{'COMMON.ERROR' | translate}} ... ({{ choreographies.retries }})
        </div>
        <div *ngSwitchDefault>
          <div *ngFor="let choreography of choreographies.data"
               [routerLink]="['/choreographies', choreography.id]"
               class="clickable">
            <mat-list-item>
              <mat-icon mat-list-icon>border_outer</mat-icon>
              <h4 mat-line>{{choreography.name}}</h4>
              <p mat-line>{{choreography.team}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </mat-list>
</div>
