<app-toolbar [title]="'CHOREOGRAPHIES.TITLE' | translate"></app-toolbar>
<div class="main-content">
  <mat-list class="side-list">
    <h3 mat-subheader translate="CHOREOGRAPHIES.MY_CHOREOGRAPHIES"></h3>
    <ng-container *ngIf="choreographies$ | async as choreographies">
      <ng-container [ngSwitch]="choreographies.status">
        <div *ngSwitchCase="'loading'" class="loading">
          <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngSwitchCase="'error'">{{ 'COMMON.ERROR' | translate }}</div>
        <ng-container *ngSwitchDefault>
          <div *ngFor="let choreography of choreographies.data" class="list-item clickable">
            <mat-icon mat-list-icon>border_outer</mat-icon>
            <span [routerLink]="['/app/choreographies', choreography.id]" class="choreography-info">
              <p>{{ choreography.name }}</p>
            </span>
            <span (click)="deleteChoreography(choreography.id)"><mat-icon>remove</mat-icon></span>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <button (click)="createNewChoreography()" class="list-item" color="primary" mat-raised-button>
      {{ 'COMMON.CREATE_NEW' | translate }}
    </button>
  </mat-list>
  <div *ngIf="user$ | async as user">
    <h2>{{ 'COMMON.HELLO' | translate }} {{ user.firstName }}!</h2>
    <div>{{ 'COMMON.WELCOME_TEXT' | translate }}</div>
  </div>
</div>
