<p>{{'EXERCISES.FILTER_BY_TAGS' | translate}}</p>
<mat-form-field appearance="fill">
    <mat-label>{{'EXERCISES.TAGS' | translate}}</mat-label>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of selectedTags" (removed)="remove(tag)" class="selected-chip-color">
            {{tag.name}}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.id">
            {{tag.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>