<div mat-dialog-content>
    <mat-form-field appearance="fill" id="firstName">
        <mat-label>{{'COMMON.FIRST_NAME' | translate}}</mat-label>
        <input matInput [(ngModel)]="data.firstName">
    </mat-form-field>
    <mat-form-field appearance="fill" id="lastName">
        <mat-label>{{'COMMON.LAST_NAME' | translate}}</mat-label>
        <input matInput [(ngModel)]="data.lastName">
    </mat-form-field>
</div>
    <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">{{'COMMON.CANCEL' | translate}}</button>
    <button mat-button [disabled]="isValid(data)"[mat-dialog-close]="data" cdkFocusInitial>{{'COMMON.ADD' | translate}}</button>
</div>