.edit-item {
  display: flex;
  flex-direction: column;
}

.position-selector {
  align-self: start;

  .option {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid black;

    &.active {
      background-color: red;
    }
  }
}

.frame-options-container {
  display: flex;
  margin-top: 15px;
  justify-content: center;

  .frame-options-settings {
    display: flex;
    flex-direction: row;
  }
}

.notes {
  text-align: center;

  .notes-input {
    text-align: center;
  }

  .notes-text {
    margin-top: 10px;
    width: 500px;
  }
}

.group-selector {
  margin-left: 50px;
}

.single-button {
  margin-top: 5px;
}

.file-input {
  display: none;
}

.tile-options {
  display: flex;

  .tile-options-buttons {
    margin-bottom: 5px;
  }

  .tile-options-group-button {
    margin-bottom: 10px;
  }

}
