<div *ngIf="choreography">
  <app-toolbar (click)="logGridToConsole()" [title]="choreography.name" backUrl="/choreographies"></app-toolbar>
  <div fxLayout="column" fxLayout.gt-sm="row">
    <div class="padding" fxFlex fxFlex.gt-sm="300px" fxFlexOrder.lt-md="3">
      <app-frame-manager
        (add)="addFrame()"
        (changeActiveFrame)="changeActiveFrame($event)"
        (changeActiveSubframe)="activeSubframe = $event"
        (changeCarpetHeight)="changeCarpetHeight($event)"
        (changeCarpetWidth)="changeCarpetWidth($event)"
        (changeHorizontalSegments)="changeCarpetHorizontalSegments($event)"
        (changeVerticalSegments)="changeCarpetVerticalSegments($event)"
        (frameDurationChange)="frameDurationChange($event)"
        (pauseFrames)="pause()"
        (playFrames)="play()"
        (remove)="removeFrame($event)"
        (switchFramePosition)="switchFramePosition($event)"
        (toggleAnimations)="toggleAnimations()"
        (toggleLooping)="toggleLooping()"
        (toggleVoiceSynthesis)="toggleVoiceSynthesis()"
        (changeSubframeToPreviousSubframe)="copySubframeFromPreviousSubframe()"

        [activeSubframe]="activeSubframe"
        [active]="activeFrame"
        [areAnimationsOn]="areAnimationsOn"
        [carpetHeight]="choreography.carpet.height"
        [carpetHorizontalSegments]="choreography.carpet.horizontalSegments"
        [carpetVerticalSegments]="choreography.carpet.verticalSegments"
        [carpetWidth]="choreography.carpet.width"
        [frameInterval]="frameInterval"
        [frames]="choreography.frames"
        [isLoopingOn]="isLoopingOn"
        [isPlaying]="playSubframeIntervalId !== null"
        [isVoiceSynthesisOn]="isVoiceSynthesisOn"></app-frame-manager>
      <app-people
        (add)="addPerson($event)"
        (remove)="removePerson($event)"
        [people]="choreography.people"></app-people>
      <div class="save-div">
        <button
          (click)="saveChoreography()"
          mat-raised-button
          translate="COMMON.SAVE">
        </button>
        <button
          (click)="loadChoreography()"
          [disabled]="localStorageEmpty"
          mat-raised-button
          translate="COMMON.LOAD">
        </button>
        <button (click)="exportAsJson()"
                class="single-button"
                mat-raised-button
                translate="COMMON.EXPORT_JSON">
        </button>
        <input #fileUpload (change)="onFileSelected($event)"
               class="file-input" type="file">
        <button (click)="fileUpload.click()" class="upload-file single-button"
                mat-raised-button
                translate="COMMON.IMPORT_JSON">
        </button>
      </div>
    </div>
    <div fxFlex>
      <app-carpet
        (active)="activeChoreographyItem = $event"
        [carpet]="choreography.carpet"
        [frame]="choreography.frames[activeFrame]"
        (removePerson)="removePersonFromCarpet($event)"
        [people]="allAvailablePeople"
        (swap)="swapItems($event)"
        [activeItem]="activeChoreographyItem"
        [animationDuration]="frameInterval / tempo"
        [areAnimationsOn]="areAnimationsOn"
        [choreography]="choreography"
        [subframe]="choreography.frames[activeFrame].subframes[activeSubframe]"></app-carpet>
      <div class="notes-container">
        <button (click)="areNotesShown = !areNotesShown"
                mat-stroked-button translate="CHOREOGRAPHY.NOTES"></button>
        <div class="notes-input">
          <mat-form-field *ngIf="areNotesShown" appearance="fill" class="notes">
            <mat-label translate="CHOREOGRAPHY.NOTES_HINT"></mat-label>
            <textarea [(ngModel)]="choreography.frames[activeFrame].notes" cdkTextareaAutosize matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <app-eight-counter
        [duration]="frameInterval"
        [frameIndex]="activeFrame"
        [isPlayingOn]="playSubframeIntervalId !== null"
        [isSpeechSynthesisOn]="isVoiceSynthesisOn"
        [tempo]="tempo"></app-eight-counter>
    </div>
    <div class="tile-options">
      <div *ngIf="activeChoreographyItem" class="edit-item padding">
        <div>
          <div class="tile-options-buttons">
            <button
              (click)="activeChoreographyItem = null"
              mat-raised-button
              translate="COMMON.CLOSE"></button>
            <button
              (click)="clearItem(activeChoreographyItem)"
              [disabled]="activeChoreographyItem.content === null"
              mat-raised-button
              translate="COMMON.REMOVE"></button>
            <button
              (click)="toggleBetweenGroupAndSingleMode()"
              [disabled]="availablePeople.length === 0"
              mat-raised-button>
              {{(isGroup(activeChoreographyItem.content) ? 'CHOREOGRAPHY.EXIT_GROUP' : 'CHOREOGRAPHY.CREATE_GROUP') | translate}}
            </button>
          </div>
          <div fxLayout="row">
            <div fxLayout="row" fxLayoutWrap="wrap">
              <div *ngIf="isPerson(activeChoreographyItem.content) || activeChoreographyItem.content === null" fxFlex>
                <mat-form-field>
                  <mat-select
                    (valueChange)="activeChoreographyItem.content = { type: 'person', personId: $event}"
                    [disabled]="availablePeople.length === 0"
                    [placeholder]="'CHOREOGRAPHY.CHANGE_PERSON' | translate"
                    [value]="activeChoreographyItem.content?.personId ?? ''">
                    <mat-option
                      *ngFor="let personId of availablePeople"
                      [value]="personId">{{(personId | person).name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="isGroup(activeChoreographyItem.content)" fxFlex>
                <mat-form-field>
                  <mat-select
                    (valueChange)="switchGroupType($event)"
                    [placeholder]="'CHOREOGRAPHY.GROUP_TYPE' | translate"
                    [value]="activeChoreographyItem.content?.type ?? ''">
                    <mat-option
                      *ngFor="let groupType of availableGroupTypes"
                      [value]="groupType">{{groupType | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select (valueChange)="changeGroupColor($event)" [placeholder]="'COMMON.COLOR' | translate">
                    <mat-option value="black">Black</mat-option>
                    <mat-option value="red">Red</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="column">
              <div *ngIf="isGroup(activeChoreographyItem.content)" class="group-participants-container">
                <app-two-group *ngIf="isTwoGroup(activeChoreographyItem.content)"
                               [group]="activeChoreographyItem.content"
                               [people]="getAvailablePeopleForThisFrame()"></app-two-group>
                <app-three-group *ngIf="isThreeGroup(activeChoreographyItem.content)"
                                 [group]="activeChoreographyItem.content"
                                 [people]="getAvailablePeopleForThisFrame()"></app-three-group>
                <app-four-group *ngIf="isFourGroup(activeChoreographyItem.content)"
                                [group]="activeChoreographyItem.content"
                                [people]="getAvailablePeopleForThisFrame()"></app-four-group>
                <app-five-group *ngIf="isFiveGroup(activeChoreographyItem.content)"
                                [group]="activeChoreographyItem.content"
                                [people]="getAvailablePeopleForThisFrame()"></app-five-group>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isGroup(activeChoreographyItem.content)" class="position-selector" fxFlex="120px">
          <div
            (click)="setPositionForItem(activeChoreographyItem, option)"
            *ngFor="let option of ['left', 'center', 'right']"
            [class.active]="activeChoreographyItem.position === option"
            class="option">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
