.main-container {
  height: calc(100% - 106px);
  overflow: auto;
}

.edit-item {
  display: flex;
  flex-direction: column;
}

.frame-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .frame-name-container {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .frame-management-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  .toggle-notes-container {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .frame-options-settings {
    display: flex;
    flex-direction: row;
  }
}

.notes {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;

  .notes-text-container {
    width: calc(100% - 20px);
  }
}

.group-selector {
  margin-left: 50px;
}

.single-button {
  margin-top: 5px;
}

.file-input {
  display: none;
}

.tile-options {
  display: flex;

  .tile-options-buttons {
    margin-bottom: 5px;
  }

  .tile-options-group-button {
    margin-bottom: 10px;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #3f51b5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .bordered {
    border: 2px solid black;
  }
}

::ng-deep.menu-title {
  margin-bottom: 10px;
}

::ng-deep.menu-item-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
