.edit-item {
  margin: 0 auto;
}

.position-selector {
  width: 120px;
  height: 120px;

  .option {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid black;

    &.active {
      background-color: red;
    }
  }
}
