<mat-form-field>
  <mat-select (selectionChange)="group.flyer = ($event.value)" placeholder="Flyer">
    <mat-option *ngFor="let person of people"
                [value]="person">{{person}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select (selectionChange)="group.backspot = ($event.value)" placeholder="Backspot">
    <mat-option *ngFor="let person of people"
                [value]="person">{{person}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select (selectionChange)="group.mainbase = ($event.value)" placeholder="Mainbase">
    <mat-option *ngFor="let person of people"
                [value]="person">{{person}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select (selectionChange)="group.sidebase = ($event.value)" placeholder="Sidebase">
    <mat-option *ngFor="let person of people"
                [value]="person">{{person}}
    </mat-option>
  </mat-select>
</mat-form-field>
