<mat-paginator [pageIndex]="currentPage" [length]="filteredExercises.length" [pageSizeOptions]="[this.pageSize]" (page)="changePage($event)" class="paginator">
</mat-paginator>
<div class="exercises-page">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="padding" fxFlex.gt-sm="350px" fxFlexOrder.lt-md="4">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>{{'COMMON.FILTERING' | translate}}</b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <hr>
                    <p>{{'EXERCISES.EXERCISES_DIFFICULTY' | translate}}</p>
                    <mat-form-field class="min-difficulty-input-field" appearance="fill">
                        <mat-label>{{'COMMON.MIN' | translate}}</mat-label>
                        <input matInput class="min-difficulty-input" type="number" min="1" max="10" [ngModel]="minDifficulty" (ngModelChange)="updateMinDifficulty($event)">
                    </mat-form-field>
                    <mat-form-field class="max-difficulty-input-field" appearance="fill">
                        <mat-label>{{'COMMON.MAX' | translate}}</mat-label>
                        <input matInput class="max-difficulty-input" type="number" min="1" max="10" [ngModel]="maxDifficulty" (ngModelChange)="updateMaxDifficulty($event)">
                    </mat-form-field>
                    <hr>
                    <p>{{'COMMON.SEARCH' | translate}}</p>
                    <mat-form-field class="query-input-field" appearance="fill">
                        <mat-label></mat-label>
                        <input class="query-input" matInput type="text" [ngModel]="query" (ngModelChange)="updateQuery($event)">
                    </mat-form-field>
                    <hr>
                    <app-tags-input [allowAdding]="false" (selectionChange)="updateTags($event)"></app-tags-input>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="exercises-list" fxLayout="row wrap" fxLayoutAlign="center" fxFlex="grow" fxFlexOrder.lt-md="4">
            <div *ngFor="let exercise of shownExercises" class="single-exercise clickable" [routerLink]="['/exercises', exercise.id]">
                <h2>{{exercise.name}}</h2>
                <strong>{{'EXERCISES.DIFFICULTY' | translate}} - {{exercise.difficulty}}</strong>
                <p>{{exercise.description | ellipsis:300}}</p> 
                <app-tags [tags]="exercise.tags"></app-tags>
            </div>
        </div>
        <div class="padding" fxFlex.gt-sm="350px" fxFlexOrder.lt-md="3"></div>
    </div>
</div>