/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  overscroll-behavior-y: contain;
}

a, a:active, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

.padding {
  padding: 8px;
}

.clickable {
  cursor: pointer;
}
