/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  font-size: 16px;
  overflow-x: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.padding {
  padding: 6px;
}

.italic {
  font-style: italic;
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.mat-drawer-content {
  overflow-y: scroll !important;
}
