.carpet {
  margin: 10px auto;
  user-select: none;

  .grid {
    position: relative;

    .lines {
      position: absolute;
      display: flex;

      &.vertical {
        .line {
          border-right: 1px solid white;

          &:last-child {
            border-right: none;
          }
        }
      }

      &.horizontal {
        flex-direction: column;

        .line {
          border-bottom: 1px dotted black;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      height: 100%;
      width: 100%;
      pointer-events: none;

      .line {
        flex: 1;
        height: 100%;
      }
    }

    .tile-container {
      display: flex;
      flex-wrap: wrap;

      .tile {
        box-sizing: border-box;
        text-align: center;
        color: white;
        display: flex;
        position: relative;
        border: aliceblue;

        &.active {
          border: 1px solid red;
        }

        &.center {
          align-items: center;
        }

        &.bottom {
          align-items: flex-end;
        }

        .eturi {
          grid-area: eturi;
          align-self: center;
          justify-self: center;
        }

        .takari {
          grid-area: takari;
          align-self: center;
          justify-self: center;
        }

        .keskari {
          grid-area: keskari;
          align-self: center;
          justify-self: center;
        }

        .kokari {
          grid-area: kokari;
          align-self: center;
          justify-self: center;
        }

        .oikuri {
          grid-area: oikuri;
          align-self: center;
          justify-self: center;
        }

        .drag-container {
          display: grid;
          grid-template-columns: 17.33px 17.33px 17.33px;
          grid-template-rows: 17.33px 17.33px 17.33px;
          grid-template-areas:
            ". eturi ."
            "kokari keskari oikuri"
            ". takari .";

          .rounded {
            border-radius: 15px;
          }

          .text-container {
            display: inline-block;
            cursor: move;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

.gu-mirror {
  text-align: center;
}

.trash-can-container {
  position: absolute;

  span {
    font-size: 2rem;
  }
}

.audience-container {
  background: brown;
  color: white;
  text-align: center;
  border: black 2px solid;
}
