<div
  class="carpet"
  [style.background-color]="carpet.color"
  [style.width]="(carpet.width * tileDimension) + 'px'"
  [style.height]="(carpet.height * tileDimension) + 'px'">
  <div class="grid">
    <div class="lines vertical">
      <div *ngFor="let _ of verticalSegments" class="line"></div>
    </div>
    <div class="lines horizontal">
      <div *ngFor="let _ of horizontalSegments" class="line"></div>
    </div>
    <div
      [style.height]="(carpet.height * tileDimension) + 'px'"
      class="tile-container">
      <div
        *ngFor="let item of frame.grid; index as index"
        [attr.index]="index"
        [dragula]="'grid-bag'"
        [style.width]="tileDimension + 'px'"
        [style.height]="tileDimension + 'px'"
        [style.flex]="'0 1 ' + tileDimension + 'px'"
        [class.active]="activeItem && activeItem === item"
        [@animate]="{value: animate, params: getAnimationParams(item, index)}"
        (click)="active.emit(item)"
        class="tile {{item.position[0]}}">
        <span
          *ngIf="item.text"
          [style.width]="2 * tileDimension + 'px'"
          [style.left]="'-' + (tileDimension / 2) + 'px'"
          class="text-container {{item.shape}} {{item.position[1]}}">
          <span
            [style.background-color]="item.color"
            class="text">
          {{item.text}}
          </span>
        </span>

      </div>
    </div>
  </div>
</div>
