<div
  [style.background-color]="carpet.color"
  [style.height]="(carpet.height * tileDimension) + 'px'"
  [style.width]="(carpet.width * tileDimension) + 'px'"
  class="carpet">
  <div class="grid">
    <div class="lines vertical">
      <div *ngFor="let _ of verticalSegments" class="line"></div>
    </div>
    <div class="lines horizontal">
      <div *ngFor="let _ of horizontalSegments" class="line"></div>
    </div>
    <div
      [style.height]="(carpet.height * tileDimension) + 'px'"
      cdkDropListGroup
      class="tile-container">
      <div
        (cdkDropListDropped)="swapPositions(index)"
        (click)="active.emit(item)"
        *ngFor="let item of subframe.grid.slice(0,carpet.height*carpet.width); index as index"
        [@animate]="{value: animate, params: getAnimationParams(item, index)}"
        [attr.index]="index"
        [class.active]="activeItem && activeItem === item"
        [style.flex]="'0 1 ' + tileDimension + 'px'"
        [style.height]="tileDimension + 'px'"
        [style.width]="tileDimension + 'px'"
        cdkDropList
        class="tile {{item.position[0]}}">
        <div (cdkDragStarted)="dragStarted(index)" cdkDrag class="drag-container">
          <div
            *ngIf="item.content && !(isTwoGroup(item.content) || isThreeGroup(item.content)
            || isFourGroup(item.content) || isFiveGroup(item.content))"
            [style.background]="item.color"
            class="text-container {{item.shape}} grid-middle">
            {{item.content}}
          </div>
          <div
            *ngIf="item.content && (isTwoGroup(item.content) || isThreeGroup(item.content)
            || isFourGroup(item.content) || isFiveGroup(item.content))"
            [style.background]="item.color"
            class="text-container {{item.shape}} grid-top">
            {{item.content.flyer}}
          </div>
          <div
            *ngIf="item.content && (isTwoGroup(item.content) || isThreeGroup(item.content)
            || isFourGroup(item.content) || isFiveGroup(item.content))"
            [style.background]="item.color"
            class="text-container {{item.shape}} grid-bottom">
            {{item.content.backspot}}
          </div>
          <div
            *ngIf="item.content && (isThreeGroup(item.content)  || isFourGroup(item.content)
            || isFiveGroup(item.content))"
            [style.background]="item.color"
            class="text-container {{item.shape}} grid-left">
            {{item.content.mainbase}}
          </div>
          <div *ngIf="item.content && (isFourGroup(item.content) || isFiveGroup(item.content))"
               [style.background]="item.color"
               class="text-container {{item.shape}} grid-right">
            {{item.content.sidebase}}
          </div>
          <div *ngIf="item.content && isFiveGroup(item.content)"
               [style.background]="item.color"
               class="text-container {{item.shape}} grid-middle">
            {{item.content.frontspot}}
          </div>
        </div>
      </div>
      <div [style.width]="tileDimension * carpet.width + 'px'" class="audience-container"> Audience</div>
      <div (cdkDropListDropped)="removeDraggedPerson()"
           [style.flex]="'0 1 ' + tileDimension + 'px'"
           [style.height]="tileDimension + 'px'"
           [style.width]="tileDimension + 'px'"
           cdkDropList
           class="tile trash-can-container">
        <span *ngIf="isDeletable" cdkDrag> 🗑️ </span>
      </div>
    </div>
  </div>
</div>
