<app-group-options (changeGroupMember)="changeGroupMember($event, 'flyer')"
                   [people]="people"
                   [value]="group.flyerId"
                   spot="Flyer"
></app-group-options>
<app-group-options (changeGroupMember)="changeGroupMember($event, 'backspot')"
                   [people]="people"
                   [value]="group.backspotId"
                   spot="Backspot"
></app-group-options>
<app-group-options (changeGroupMember)="changeGroupMember($event, 'mainbase')"
                   [people]="people"
                   [value]="group.mainbaseId"
                   spot="Mainbase"
></app-group-options>
<app-group-options (changeGroupMember)="changeGroupMember($event, 'sidebase')"
                   [people]="people"
                   [value]="group.sidebaseId"
                   spot="Sidebase"
></app-group-options>
<app-group-options (changeGroupMember)="changeGroupMember($event, 'frontspot')"
                   [people]="people"
                   [value]="group.frontspotId"
                   spot="Frontspot"
></app-group-options>


