<app-group-options (changeGroupMember)="group.flyerId = $event"
                   [people]="people"
                   [value]="group.flyerId"
                   spot="Flyer"
></app-group-options>
<app-group-options (changeGroupMember)="group.backspotId = $event"
                   [people]="people"
                   [value]="group.backspotId"
                   spot="Backspot"
></app-group-options>
<app-group-options (changeGroupMember)="group.mainbaseId = $event"
                   [people]="people"
                   [value]="group.mainbaseId"
                   spot="Mainbase"
></app-group-options>
<app-group-options (changeGroupMember)="group.sidebaseId = $event"
                   [people]="people"
                   [value]="group.sidebaseId"
                   spot="Sidebase"
></app-group-options>
<app-group-options (changeGroupMember)="group.frontspotId = $event"
                   [people]="people"
                   [value]="group.frontspotId"
                   spot="Frontspot"
></app-group-options>


