<app-group-options (changeGroupMember)="group.flyer = $event"
                   [people]="people"
                   spot="Flyer"
></app-group-options>
<app-group-options (changeGroupMember)="group.backspot = $event"
                   [people]="people"
                   spot="Backspot"
></app-group-options>
<app-group-options (changeGroupMember)="group.mainbase = $event"
                   [people]="people"
                   spot="Mainbase"
></app-group-options>
<app-group-options (changeGroupMember)="group.sidebase = $event"
                   [people]="people"
                   spot="Sidebase"
></app-group-options>
<app-group-options (changeGroupMember)="group.frontspot = $event"
                   [people]="people"
                   spot="Frontspot"
></app-group-options>


